<div class="container">
    <form>
        <img style="max-width: 200px;" class="rounded d-block img-thumbnail" src="{{avatarUrl}}" alt="avatar">
        <div class="form-floating mb-3">
            <input disabled [(ngModel)]="id" name="userId" style="max-width: 400px;" type="email"
                class="form-control" id="floatingId" placeholder="">
            <label for="floatingId">Your id</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.avatarUrl" name="avatarUrl" style="max-width: 400px;" type="email"
                class="form-control" id="floatingAvatar" placeholder="">
            <label for="floatingAvatar">Avatar URL</label>
        </div>
        <div class="form-floating mb-3">
            <input disabled [(ngModel)]="user.username" name="username" style="max-width: 400px;" type="email"
                class="form-control" id="floatingUsername" placeholder="">
            <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.fullName" name="fullName" style="max-width: 400px;" type="email"
                class="form-control" id="floatingFullName" placeholder="">
            <label for="floatingFullName">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            <input disabled [(ngModel)]="user.email" name="email" style="max-width: 400px;" type="email" class="form-control"
                id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">Email</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSumbit()">Submit</button>
    </form>
</div>